@import "src/styles";

.pay-by-new-channel-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 1;

    &__submit-button {
        @extend %button--is-primary;

        justify-self: flex-end;
        margin-block-start: auto;
    }
}
