:root {
    --c-black-rgb: 0, 0, 0;
    --c-white-rgb: 255, 255, 255;

    --c-black: #000;
    --c-white: #fff;
    --c-primary: #E46735;
    --c-accent: #E46735;

    --fw-regular: 400;
    --fw-bold: 700;

    --border-radius: .25rem;
}