.page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-height: 100dvh;

    &__background-gradient {
        --size: 52.5rem;

        position: absolute;
        top: calc(var(--size) * -.5);
        left: calc(var(--size) * -.5);
        width: var(--size);
        height: var(--size);
        opacity: .7;
        background: linear-gradient(90deg, #E46735 0%, #C93250 70.83%, #CA488C 100%);
        filter: blur(21.875rem);
    }

    &__content {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
        width: 100%;
        max-width: 30rem;
        min-height: 30rem;
        padding: 2rem;
        background: rgba(var(--c-white-rgb), .1);
        color: var(--c-white);
    }

    &__children-wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-block-start: 1rem;
    }
}