@import "src/styles";

.number-input {
    display: block;

    &__label {
        margin-block-end: .5rem;
    }

    &__field-wrapper {
        display: flex;
    }

    &__field {
        -moz-appearance: textfield;
        border-inline-end: none;
        border-start-start-radius: var(--border-radius);
        border-start-end-radius: 0;
        border-end-start-radius: var(--border-radius);
        border-end-end-radius: 0;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            appearance: none;
            margin: 0;
        }
    }

    &__error-label {
        margin-block-start: .5rem;
    }
}
