.radio-list {
    display: block;

    &__label {
        justify-content: flex-start;
        margin-block-end: .5rem;
    }

    &__option-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &--has-error {
            padding-inline-start: .5rem;
            border-inline-start: 2px solid var(--c-negative);
        }
    }

    &__error-label {
        margin-block-start: .5rem;
    }
}
