@import "src/styles";

.input-label {
    @extend %input-label;

    display: inline-flex;
    align-items: center;
    gap: .5rem;
    width: 100%;

    &__additional-label {
        color: currentColor;
        opacity: .75;
    }

    &__tooltip {
        width: 1.25rem;
        height: 1.25rem;
    }
}
